@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 1px;
    /*outline: 2px solid red;*/
}

body{
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;          /* Moves content downwards */
    background-color: #76797B;
}

.logo-section {
    background-color: #000;
    border-radius: 50px 0px 0px 50px;
    width: 498px;
    height: 650px;
}

img {
    margin: 50% 9% 50% 9%;
}

.portal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    border-radius: 50px;
    width: 1200px;
    height: 650px;
}

.login-section {
    margin: auto;
    text-align: center;
}

#title-1 {
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
}

#title-2 {
    margin-right: 68%;
    margin-bottom: 2%;
}

#username, #password {
    border-radius: 30px;
    padding: 15px 60px 15px 20px;
    width: 530px; 
    background-color: #D9D9D9;
    font-size: 20px;
}

#svg-1, #svg-2 {
    position: relative;
    right: 60px;
    top: 5px;
}

#submit {
    border-radius: 30px;
    padding: 15px;
    width: 250px;
    background-color: #D9D9D9;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    transition: ease-in-out 0.3s;
}

#submit:hover{
    background-color: black;
    color:rgb(115, 240, 240);
    border: 2px solid rgb(115, 240, 240);
}

input::placeholder {
    color: #000;
    font-weight: 600;
}

#resource {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    display: block;
    margin-bottom: 1%;
    font-weight: 600;
}

#resource:hover {
    text-decoration: underline;
}

.username-group, .password-group {
    margin-bottom: 7%;
}

.login-button {
    margin-bottom: 5%;
}